/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app-header{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  padding: 15px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}


.app-header-im {
  object-fit: contain;
  height: 40px;
}

.App-link {
  color: #61dafb;
}
.del{
  right: 0!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post{
  max-width: 400px;
  border: 1px solid lightgray;
  background-color: white;
  margin-bottom: 45px;
}

.post-im{
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  
}

.appposts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.right{
  margin-left: 20px;
}

.box{
  display: flex;
  margin-top: 10px;
}

.input{
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.button {
  flex:0;
  border: none;
  border-top: 1px solid lightgray;
  background-color: transparent;
  color: #61dafb;
}

.comment{
  padding: 10px;
}

.post h4{
  font-weight: normal;
  padding: 16px;
}

.post-header{
  padding: 15px;
  display: flex;
  align-items: center;
}

.post-header h3{
  margin-left: 10px;
}

.signup{
  display: flex;
  flex-direction: column;
}

.imageup{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}
.progress{
  width: 100%;
}